* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Tahoma, sans-serif;
}

body {
    background-color: #222;
}

header {
    background-color: #558edd;
    color : #fff;
    padding: 15px;
}

header h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

/*  */

main {
    display: flex;
    min-height: calc(100vh - 100px);
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

main .coloringArea {
    background: #fff;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    border-radius: 10px;
    font-size: larger;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 100ms linear;
}

main .control {
    height: 200px;
}

main .control .randomColor {
    border: 0;
    outline: 0;
    background-color: #efef9b;
    padding: 10px;
    width: 100%;
    font-size: large;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 1.5em;
    display: block;
}

main .control h3 {
    margin-bottom: 1em;
    text-align: center;
    color: #fff;
    font-size: large;
    font-weight: 300;
    text-transform: uppercase;
}

main .control form label {
    display: block;
    margin-bottom: 1em;
    text-align: center;
    color: #46b1b3;
}

main .control form input[type="text"] {
    display: block;
    margin-bottom: 1em;
    width: 100%;
    color: #296d6e;
    padding: 10px;
    font-size: large;
    border-radius: 5px;
}